					<div class="content">
						<header>
							<h2>URUGUAY DEBE DE MEJORAR SU NUTRICIóN</h2>
						</header>
						<p>No es para criticar a la selección, sino para ayudarla a encontrar
						el camino del bien. No me importa que nutrición les presenta el maestro Tavárez
						a los seleccionados pero como yo quiero ayudar presento a continuación
						una redacción que yo escribí hace algún tiempo recordando cuando yo era chico y
						compartíamos con mamá las vacaciones en la campaña. Comer carne para mí
						es ser parte de un crímen no solo afecta la salúd y aparte hay miles de comidas
						sin carne y ricas como tallarines con pomodoro y queso, ravioles de hacelga,
						chocolate, etc. Todavía me acuerdo el stress y el nerviosismo de los borregos
						antes de ser carniados y la mirada distante y perdida de sus madres llena de
						tristeza por el destino cruel de su hijo con dificultad de encontrar un apoyo en ese
						momento. <span style="text-decoration:underlined;">Exorto por última vez al Señor Oscar Tabárez</span> a modificar la alimentación
						de la selección para safar ese negocio sucio de la ganadería. Acá está la 
						prometida redacción ==> seguir flecha a la derecha ==> ==> ==></p> 
						
					</div>
