<!-- Footer -->
			<footer id="footer">
				<a href="#" class="info fa fa-info-circle" style="border:2px;border-color:#fff;"><span>About</span></a>
				<div class="inner">
					<div class="content">
						<h3>¿Cómo ver los partidos de Eliminatorias de Uruguay?</h3>
						<p>Recomendamos KODI, aplicación para Windows, Linux y OSX. Después de instalar
						   *KODI* instalar el addon Zem TV de la siguiente manera: 1)Instalar el source de addons fusion: Add-source, donde dice none
						   escribir exacto: http://fusion.tvaddons.ag, donde dice name, escribir fusion, darle al botón de OK.
						   2)Addon-browser/Settings-addons> Instalar zip file> Buscar el nombre fusion que guardamos anteriormente> kodi-repos> english> 							   repository.shani-2.9.zip y esperar el mensaje: repository-shani enabled. 3)Instalar from repository> Repositorio shani> Video-addons> 							   Zem y esperar mensaje: Addon-Zem enabled.
						   Para más detallada información seguir el enlace Follow me ==></p>
						   
					</div>
					<div class="copyright">
						<h3>Follow me</h3>
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
						</ul>
						<span>This work is brought to you under the license: <a href="http://creativecommons.org/licenses/by/3.0"><strong>Creative Commons Attribution 3.0 Unported</strong></a>.<br><br>
						<span style="padding-left:2px;">&copy; Coco de orO</span>.<a href="images/coco.svg" style="padding-left:2px;"><img src="images/orO.svg" width="25px" style="margin-bottom:-7px;padding-left:6px;"></a><span style="padding-left:20px;">|</span> <span style="padding-left:20px;">Design:</span> <a href="https://templated.co" style="padding-left:2px;">TEMPLATED</a>.<span style="padding-left:20px">|</span><span style="padding-left:20px;"> Images:</span> <a href="https://images.google.com/" style="padding-left:2px;"><img src="images/google.png" width="100px" height="30" style="margin-bottom:-10px;padding-left:2px;"></a><br>
						
					</div>
				</div>
			</footer>
