<!DOCTYPE HTML>
<!--
	Radius by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<!-- head -->
	{% include head0.html %}
<!-- end head -->

	<body>
		


		<!--   start header0   -->

			{% include header0.html %}
		
		<!--   end   header0   -->



		

		<!--    start preview   -->	

			<div class="preview">

				<!--   start   inner   -->
					<div class="inner">

						<!--   start   image fit   -->

							{% include image-fit %}

						<!--   end image-fit   -->
					        
						
						<!--   start content1   -->
							{% include content1.html %}
						<!--   end content1   -->
					</div>

				<!--   end   inner   -->

				<a href="detail2.html" class="nav next"><span class="fa fa-chevron-right"></span></a>
			
			</div>
		<!--   end   preview   -->


		


		<!--   start   footer0   -->
		
			{% include footer0.html %}

		<!--   end   footer0   -->


		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>


			
				
